<section class="fullWidth catalogue py-5">
	<div class="container">
		<ul class="d-flex flex-wrap">
			<li class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-md-4 mb-xs-4 mb-sm-4">
				<div class="d-flex justify-content-center">
					<div class="catalogue_image">&nbsp;</div>
					<p>Bhut Jolokia</p>
				</div>
			</li>
			<li class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-md-4 mb-xs-4 mb-sm-4">
				<div class="d-flex justify-content-center">
					<div class="catalogue_image">&nbsp;</div>
					<p>Bao Dhaan</p>
				</div>
			</li>
			<li class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-md-4 mb-xs-4 mb-sm-4">
				<div class="d-flex justify-content-center">
					<div class="catalogue_image">&nbsp;</div>
					<p>Black Pepper</p>
				</div>
			</li>
			<li class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-md-4 mb-xs-4 mb-sm-4">
				<div class="d-flex justify-content-center">
					<div class="catalogue_image">&nbsp;</div>
					<p>Lakadong Turmeric</p>
				</div>
			</li>
		</ul>
	</div>
</section>