<footer class="fullWidth footer-bg pt-5">
	<div class="fullWidth">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-6 col-md-12 col-sm-12 col-12 footer-logo d-flex text-left flex-column mb-md-5 mb-sm-6 mb-6 d-none d-lg-block">
					<h3>About Folkspice</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page
						when
						looking at its layout.</p>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 my-md-0 my-sm-4 my-4 my-lg-0">
					<h3>Our Products</h3>
					<ul>
						<li><a href="#">Bhut Jolokia</a></li>
						<li><a href="#">Bao Dhaan</a></li>
						<li><a href="#">Black Pepper</a></li>
						<li><a href="#">Lakadong Turmeric</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
					<h3>Information</h3>
					<ul>
						<li><a href="./about-us.html">About Us</a></li>
						<li><a href="./faq.html">FAQs</a></li>
						<li><a href="./contact-us.html">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<div class="row pt-5 mt-5 pt-sm-0 px-0">
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-3">
					<div class="address d-flex flex-column justify-content-center">
						<p>Dhowa Pakhuri Gaon, <br />P.O. Bahona, Jorhat, Assam, India, Pin Code: 785101</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-3">
					<div class="phone-call d-flex flex-column justify-content-center">
						<p>Give us a call</p>
						<p>+91-967-844-31 29 / +91-985-437-56 42</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-3">
					<div class="drop-email d-flex flex-column justify-content-center">
						<p>Drop Us a Line</p>
						<p><a href="mailto:folkspice@gmail.com">folkspice@gmail.com</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fullWidth footer-copyrights py-3 mt-4 text-center">
		<div class="container">
			<span>&copy; Nvigor Solutions <span class="year"></span></span><span>Designed & Developed by <a href="#"
					target="_blank">Design
					Cubicles</a></span>
		</div>
	</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" type="text/javascript"></script>
<script src="../js/main.js"></script>