<section class="fullWidth top_strip">
	<div class="container">
		<ul class="d-flex">
			<li><a href="./about-us.html">About Us</a></li>
			<li><a href="#">FAQs</a></li>
			<li><a href="./contact-us.html">Contact Us</a></li>
		</ul>
	</div>
</section>
<section class="fullWidth navigation-bar">
	<div class="container">
		<div class="fullWidth">
			<div class="fullWidth d-flex justify-content-between align-items-center">
				<a href="./index.html" class="mx-5 my-4 logo"><img src="../images/logo.png" alt="Folkspice"
						title="Folkspice" data-toggle="tooltip" data-placement="right" title="Folkspice" /></a>
				<a class="nav-link header-call d-xl-block d-lg-block d-none" href="">+91(967)-844-3129</a>
				<ul class="d-flex mx-4 my-0 social-media">
					<li><a href="#" class="facebook" data-toggle="tooltip" data-placement="bottom"
							title="Follow Us on Facebook">&nbsp;</a></li>
					<li><a href="#" class="twitter" data-toggle="tooltip" data-placement="bottom"
							title="Follow Us on Twitter">&nbsp;</a></li>
					<li><a href="#" class="instagram" data-toggle="tooltip" data-placement="bottom"
							title="Follow Us on Instagram">&nbsp;</a></li>
					<li><a href="#" class="whatsapp" data-toggle="tooltip" data-placement="bottom"
							title="Chat with us on WhatsApp">&nbsp;</a></li>
				</ul>
			</div>
			<nav class="navbar navbar-expand-lg navbar-light fullWidth">
				<div class="container-fluid justify-content-end">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon">&nbsp;</span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Features</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Pricing</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</section>