<section class="fullWidth home-page-gallery py-5">
	<div class="container">
		<div class="fullWidth text-center pb-5">
			<h1 class="mb-4">Images from our Farm</h1>
			<h3>Folkspice located in beautiful Indian state of Assam, has been producing top-quality herbs and spices
				since 2016. Using sustainable farming practices, we carefully nurture and harvest only the finest
				crops to bring you premium spices year after year.</h3>
		</div>
		<div class="fullWidth image-gallery">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-7 mb-4">
							<div class="image-gallery-wrapper">
								<div class="fullWidth spice-gallery1">&nbsp;</div>
								<div class="gallery_description">
									<h5>Agriculture Farming</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-5 mb-4">
							<div class="image-gallery-wrapper">
								<div class="fullWidth spice-gallery2">&nbsp;</div>
								<div class="gallery_description">
									<h5>Agriculture Farming</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-5 mb-4">
							<div class="image-gallery-wrapper">
								<div class="fullWidth spice-gallery5">&nbsp;</div>
								<div class="gallery_description">
									<h5>Agriculture Farming</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-7 mb-4">
							<div class="image-gallery-wrapper">
								<div class="fullWidth spice-gallery4">&nbsp;</div>
								<div class="gallery_description">
									<h5>Agriculture Farming</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="image-gallery-wrapper">
						<div class="fullWidth spice-gallery3">&nbsp;</div>
						<div class="gallery_description">
							<h5>Agriculture Farming</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>