<section class="fullWidth stats py-5">
	<div class="container">
		<div class="fullWidth text-center row justify-content-center">
			<div class="col-xs-12 col-lg-4 col-md-4 col-sm-6 py-4">
				<div class="d-flex align-items-center justify-content-center">
					<img src="../images/happy-clients.png" />
					<h6>200+<span>Happy Clients</span></h6>
				</div>
			</div>
			<div class="col-xs-12 col-lg-4 col-md-4 col-sm-6 py-4">
				<div class="d-flex align-items-center justify-content-center">
					<img src="../images/happy-clients.png" />
					<h6>200+<span>Happy Clients</span></h6>
				</div>
			</div>
			<div class="col-xs-12 col-lg-4 col-md-4 col-sm-6 py-4">
				<div class="d-flex align-items-center justify-content-center">
					<img src="../images/products.png" />
					<h6>200+<span>Happy Clients</span></h6>
				</div>
			</div>
		</div>
	</div>
</section>