<section class="fullWidth why-choose-us py-5">
	<div class="container">
		<div class="fullWidth text-center pb-5">
			<h1 class="mb-4">Why Choose Us</h1>
			<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
				industrys standard dummy</h3>
		</div>
		<div class="fullWidth row">
			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pt-lg-5">
				<div class="fullWidth mb-4 d-flex why-choose-us-block px-3 py-3 align-items-center">
					<img src="../images/why-choose-us-icon1.png" width="80px" height="80px"
						alt="Folkspice - Herbs and Spices from the farms"
						title="Folkspice - Herbs and Spices from the farms" />
					<div class="d-flex flex-column pl-4">
						<h5>Always Fresh</h5>
						<p>Fresh products direct from the farms for your household needs.</p>
					</div>
				</div>
				<div class="fullWidth mb-4 d-flex why-choose-us-block px-3 py-3 align-items-center">
					<img src="../images/why-choose-us-icon1.png" width="80px" height="80px"
						alt="Folkspice - Herbs and Spices from the farms"
						title="Folkspice - Herbs and Spices from the farms" />
					<div class="d-flex flex-column pl-4">
						<h5>300+ Products</h5>
						<p>We provide the entire range of products that confirm to </p>
					</div>
				</div>
				<div class="fullWidth mb-4 d-flex why-choose-us-block px-3 py-3 align-items-center">
					<img src="../images/why-choose-us-icon1.png" width="80px" height="80px"
						alt="Folkspice - Herbs and Spices from the farms"
						title="Folkspice - Herbs and Spices from the farms" />
					<div class="d-flex flex-column pl-4">
						<h5>Excellent Service</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</div>
				<div class="fullWidth mb-4 d-flex why-choose-us-block px-3 py-3 align-items-center">
					<img src="../images/why-choose-us-icon1.png" width="80px" height="80px"
						alt="Folkspice - Herbs and Spices from the farms"
						title="Folkspice - Herbs and Spices from the farms" />
					<div class="d-flex flex-column pl-4">
						<h5>Excellent Service</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 align-items-center d-lg-flex d-none d-lg-block px-5">
				<img src="../images/why-choose-us.png" class="img-fluid"
					alt="Folkspice - Herbs and Spices from the farms"
					title="Folkspice - Herbs and Spices from the farms" />
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pt-lg-5">
				<div class="fullWidth mb-4 d-flex why-choose-us-block px-3 py-3 align-items-center">
					<img src="../images/why-choose-us-icon1.png" width="80px" height="80px"
						alt="Folkspice - Herbs and Spices from the farms"
						title="Folkspice - Herbs and Spices from the farms" />
					<div class="d-flex flex-column pl-4">
						<h5>Excellent Service</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</div>
				<div class="fullWidth mb-4 d-flex why-choose-us-block px-3 py-3 align-items-center">
					<img src="../images/why-choose-us-icon1.png" width="80px" height="80px"
						alt="Folkspice - Herbs and Spices from the farms"
						title="Folkspice - Herbs and Spices from the farms" />
					<div class="d-flex flex-column pl-4">
						<h5>Excellent Service</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</div>
				<div class="fullWidth mb-4 d-flex why-choose-us-block px-3 py-3 align-items-center">
					<img src="../images/why-choose-us-icon1.png" width="80px" height="80px"
						alt="Folkspice - Herbs and Spices from the farms"
						title="Folkspice - Herbs and Spices from the farms" />
					<div class="d-flex flex-column pl-4">
						<h5>Excellent Service</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</div>
				<div class="fullWidth mb-4 d-flex why-choose-us-block px-3 py-3 align-items-center">
					<img src="../images/why-choose-us-icon1.png" width="80px" height="80px"
						alt="Folkspice - Herbs and Spices from the farms"
						title="Folkspice - Herbs and Spices from the farms" />
					<div class="d-flex flex-column pl-4">
						<h5>Excellent Service</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>